<style>
    .frame3 {
        box-shadow: 0 0 0 5px white, 0 0 0 6px #AAA, 0 0 0 10px #CCC, 0 0 0 11px #AAA;
    }
</style>
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Blogs</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item"><a href="@Url.Action("Blogs","Home")">Blogs</a> </li>
                    <li class="breadcrumb-item active">Organic Lifestyle - An Experience</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="shop-detail-box-main">
    <div class="container">
        <div class="text-center pb-4" style="font-family: 'Noto Serif Gujarati';">
            <h2 style="color: #b0b435">નૈસર્ગિક જીવનશૈલી – એક અનભુવ</h2>
            <p style="font-size:18px">
                <b>
                    નૈસર્ગિક જીવનશૈલી – અનોખી જગ્યાના અનોખા સ્પંદન- અમારો અનભુવ
                </b>
            </p>
        </div>
        <div class="text-center">
            <img src="@Url.Content("~/Content/images/organic-lifestyle/image-000.jpg")" style="height:450px;width:90%;" class="frame3" />
        </div>
        <div class="text-justify pt-5">
            <div class="single-product-details">
                <p style="text-indent: 50px;">
                    હું અને મારી સાથીદાર સરોજ અમે બંને મિત્રો લગભગ છેલ્લા ચારેક દિવસથી અમદાવાદ આસપાસની ગૌશાળાની મુલાકાત
                    લઈ રહ્યા હતા અને એમાં પછી આ વસઈ (ડાભલા) જવાનું નક્કી કરતાં બકુલભાઈ સાથે ફોન પર વાત કરી અને કહ્યું કે
                    રવિવારે બપોર પછી અમારે તમારી જગ્યા જોવા માટે આવું છે. બકુલભાઈ બહુ સહજ રીતે કહ્યું કે રવિવારે હું મોડે સુધી
                    અહી જ છુ આપ આવો.
                </p>
                <p style="text-indent:50px;">
                    લગભગ ચારેક વાગે નૈસર્ગિક જીવનશૈલીની જગ્યા પર પહોંચ્યા. જગ્યા પર જતાં જ હજી તો પહેલું ડગલું માંડતાં જ અમે
                    સખત અચરજ પામી ગયેલા. ગાડી પાર્ક કરીને એક ડગલુ ચાલતા જ એક અનેરો આનંદ - એક અદભૂત અનુભૂતિ. અને
                    એમ પણ લાગ્યું કે જાણે વર્ષોથી બકુલભાઇ ખેતી ના કરતા હોય?
                </p>
                <p style="text-indent:50px;">
                    નૈસર્ગિક જીવનશૈલીની જેમણે અહી શરૂઆત કરી છે એમનું નામ છે બકુલભાઈ પટેલ. જે અમદાવાદ મેમનગરના રહેવાસી
                    અને મહેસાણા જિલ્લાનું - વિજાપુર તાલુકાનું - વસઈ ડાભલા ગામ જ્યાં તેમની આ જગ્યા આવેલી છે.
                    આપણે ભૌતિકવાદી અને કૃત્રિમતાઓથી ભરેલી જિંદગીના કુંડાળામાં અટવાઈ ગયા છીએ, ત્યારે કુદરત સાથે આપના
                    જીવનને જોડી આપતી નૈસર્ગિક જીવનશૈલી એટલે અનુભવ વાટિકા - “પરમ્‌ સત્ત્તમ્‌”
                    નસૈસર્ગિક કૃષિનો જે પ્રયોગ છે તે વૈજ્ઞાનિક પદ્ધતિ સાથે જોડાયેલો છે. ખેડૂત તરીકે આ પદ્ધતિને જોવી સમજવી એ એક
                    અનોખી તક છે. ચોક્કસ માપ, ચોક્કસ આયોજન, ચોક્કસ પ્રકારના વૃક્ષ, ક્યાં? શા માટે? કેમ? કયું ફળ? કયુ શાકભાજી?
                    કયું વૃક્ષર એ કેમ કઈ જગ્યાએ? આ અહીંયા જ કેમ? એ દરેકના જવાબ તર્ક સાથેના સંબંધોથી જોડાયેલા છે. ખેડૂત તરીકે
                    આપણે જે કાળજીઓ ક્યારેય રાખતા નથી એ કાળજીઓનો સમાવેશ આ નૈસર્ગિક કૃષિમાં મેં અનુભવ્યો છે. એક એક વસ્તુને
                    કાળજીપૂર્વક અને તર્ક સહીત ઉપયોગમાં લેવામાં આવેલી છે. દરેકનું સ્થાન નક્કી છે. દરેકનું આયોજન નક્કી છે. દરેકની
                    ગણતરીઓ પણ નક્કી છે. કે કયા, ક્યારે, કેવી રીતે, કયા વર્ષે, કોણ કેટલું ફળ-ફૂલ આપશે અને એક વિઘામાં પણ આ
                    પ્રયોગને કેવી રીતે સફળતાથી કરી શકાય. જમીન - પાણી આ દરેકનો પ્રયોગ હેતુ અને આયોજ્નપૂર્વક જોવા મળે છે
                </p>
                <div class="row justify-content-around">
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-003.jpg")" style="height:350px;width:400px;" class="frame3 m-3" />
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-001.jpg")" style="height:350px;width:400px;" class="frame3 m-3" />
                </div>
                <p style="text-indent:50px;" class="mt-4">
                    બકુલભાઈ ખેડૂતોને પોસાય અને ખેડૂતો ખેતીથી છૂટીના જાય અને બહુ જ ઓછા ખર્ચે લાંબા સમય સુધી ઓછી મહેનત
                    કેવી રીતે થાય, લાંબા સમય માટેના ખર્ચ વગરની અને વધારે આવક આપી શકે એવી જૈવિક ખેતીનું એક સરસ મજાનું
                    મોડેલ ડિઝાઈન કર્યું છે અનેક મોડેલો આપણા ગુજરાતમાં અત્યારે સ્થપાઈ રહ્યા છે અને એ બધા મોડેલોમાથી જે સત્વ છે
                    એ સત્વ લઈને અહી બહુ જ સહજ અને સખત પરિશ્રમ કરીને આ પદ્ધતિથી જૈવિક કૃષિની શરૂઆત કરી છે. જૂન 2021માં
                    આ જગ્યા પર ખેતીની શરૂઆત કરેલી છે.
                </p>
                <div class="row justify-content-around">
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-004.jpg")" style="height:350px;width:400px;" class="frame3 m-3" />
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-002.jpg")" style="height:350px;width:400px;" class="frame3 m-3" />
                </div>
                <p style="text-indent:50px;" class="mt-4">
                    ખેતીની ડિઝાઇન, ખેતીની માપણી, એમની બે છોડ વચ્ચેની જગ્યા, પંદર દિવસથી શરૂ કરીને ચાર પાંચ વર્ષે આપણે
                    ફળ લઈ શકીએ ત્યાં સુધીની ખેડૂતોને કેવી રીતે આવક થઈ શકે, એનું આખું કોમર્સ સાથે એટલે કે ગણિત સાથે આ એક
                    વીઘામાં ખેતીની શરૂઆત કરી છે. એક ખેડૂત તરીકે આપણે આપણા આટલા વર્ષોના અનુભવ પછી પણ આ એક વીઘાની
                    જો ગણતરીઓ જોઈએ અને એમની ડિઝાઇન અને ખાસ કરીને પદ્ધતિને જાણીએ તો લાગે કે એ દિશા તરફ કદાચ આપણે
                    ઝડપથી જોવું પડશે. તો આપણે ખેતી બચાવી શકીશું. ખેતીની જમીન બચાવી શકીશું. એવું સ્પષ્ટપણે મારૂ એક ખેડૂત
                    તરીકે માનવું છે. લોકોને ઝેર આપવાથી બચવું - આપણી જમીનને બચાવી - જમીનની ફળદ્રુપતા અને જમીનને વેચાણથી
                    બચાવવા માટેના જો પ્રયોગો તરફ જવું હશે તો આ બકુલભાઈની નૈસર્ગિક જીવનશૈલીની પ્રતિકૃતિ તરફ જવું રહ્યું.
                </p>
                <div class="row justify-content-around">
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-005.jpg")" style="height:260px;width:220px;" class="frame3 m-3" />
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-007.jpg")" style="height:260px;width:220px;" class="frame3 m-3" />
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-008.jpg")" style="height:260px;width:220px;" class="frame3 m-3" />
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-006.jpg")" style="height:260px;width:220px;" class="frame3 m-3" />
                </div>
                <div class="text-center mt-4 mb-2">
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-009.jpg")" style="height:400px;width:97%;" class="frame3" />
                </div>
                <p style="text-indent:50px;" class="mt-4">
                    નૈસર્ગિક જીવન શૈલીની જગ્યામાં અનોખા સ્પંદનની ત્રણ કુટિરો છે, જે માટીથી બનાવેલી છે, માટીની ગાર થી લીપેલું ભોંય
                    તળિયું અને દીવાલો પણ. છાપરાની તો મજા જ કઈક અલગ છે, જેમાં વાંસ, લાકડું અને ખાસ પ્રકારના દર્ભના ઘાસથી
                    બનાવેલું છે, તેમજ આ કુટિરોમાં જ સ્નાનાગર અને શૌચાલય જોડાયેલુ છે. રસોઈ કરવા પ્લેટફોર્મ પણ ખરું, એટ્લે
                    પ્રાકૃતિકતાની પૂર્ણ કાળજી સાથે આધુનિક સગવડોનો સરવાળો અહી છે. સાથે જ આપણી જૂની સંસ્કૃતિની જેમ જ લાંબી
                    ઓસરી. એ પણ લીપેલું. આવા કુદરતી વાતાવરણમાં વિવિધ પ્રકારની બેઠક વ્યવસ્થાઓ. કલાત્મક ખાટલાઓ -ભાતીગળ
                    ઢબ ની બેઠકો અને હીંચકાઓ. આ બધાની વચ્ચે રસોઈ કરવાનાં, પાણી ભરવાના, પીરસવાના, અને ખાવાપીવાના વાસણો
                    પણ માટીના. એટલે કઈ નૈસર્ગિક જીવનશૈલી ક્યાં અટકે, પથારીના પલંગ પણ માટીના, પાથરવાની ચાદર, ઓશિકાનું
                    કવર, ટુવાલ, નેપકિન, બારીના પદડા એ બધુ પણ રસાયણ મુક્ત કપાસમાથી હાથ કાંતણ વડે કાંતેલું. સાફ સફાઈની દરેક
                    વસ્તુઓ પણ જાતે બનાવેલી નૈસર્ગિક, સાબુ શેમ્પુ પણ આવા જ નૈસર્ગિક. બાયો એજાઈમનો ઉપયોગ અહી થઈ રહ્યો છે.
                    અગ્નિહોત્ર યજ્ઞ તો ખરોજ. જે આખા વાતાવરણને તંદુરસ્ત બનાવી દે છે. અહી યોગ, સાધના, મૌન તેમજ વાંચન-લેખન માટે અનુરૂપ સુવિધાઓ પણ છે.
                </p>
                <div class="text-center mt-4 mb-4">
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-010.jpg")" style="height:400px;width:97%;" class="frame3" />
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-011.jpg")" style="height:400px;width:97%;" class="frame3 mt-5" />
                </div>
                <p style="text-indent:50px;" class="mt-4">
                    ખેતી અને ખેડૂતને સક્ષમ કરવાના અને જીવનશૈલીને કુદરત સાથે જોડવાના સહિયારા સપનાઓની વાતો અને એ તરફના
                    સહિયારા પ્રયત્નોની વાતો કરવાની, સાંભળવાની, અને સમજવાની આ અનુભવ વાટિકા એટલે “પરમ્‌ સત્ત્વમ્‌'
                </p>
                <div class="row justify-content-around text-center">
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-012.jpg")" style="height:260px;width:220px;" class="frame3 m-3" />
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-013.jpg")" style="height:260px;width:220px;" class="frame3 m-3" />
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-014.jpg")" style="height:260px;width:220px;" class="frame3 m-3" />
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-015.jpg")" style="height:260px;width:220px;" class="frame3 m-3" />
                    <p class="mt-2">
                        <b>
                            મુલાકાત લેવા સૌને આગ્રહ કરનાર - નિરૂપા શાહ અને સરોજ ગેડીયા - આભાર
                        </b>
                    </p>
                </div>
                <div class="row justify-content-around text-center">
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-016.jpg")" style="height:350px;width:400px;" class="frame3 m-3" />
                    <img src="@Url.Content("~/Content/images/organic-lifestyle/image-017.jpg")" style="height:350px;width:400px;" class="frame3 m-3" />
                    <p class="mt-2">
                        <b>
                            આ છે બકુલભાઇ - ક્યારેક ચર્ચાઓમાં તો ક્યારેક નિરાંતની પળોમાં
                        </b>
                    </p>
                </div>
                <pre class="text-center mt-4">
                <b>સરનામું :</b>   

                <b>‘परम् सत्त्वम्’</b>   

                નૈસર્ગિક જીવનશૈલી
                અનુભવ વાટિકા

                સહયોગ આંખના દવાખાના પાછળ,
                વસઇ પોલીસ સ્ટેશન સામેનો રસ્તો,
                મહાકાળી મંદિર વાળા રસ્તાથી અંદર આવવું.

                ગામ; વસઇ (ડાભલા)
                તાલુકો ; વિજાપુર
                જિલ્લો ; મહેસાણા
                ગુજરાત - ૩૮૨૮૬૫

                સંપર્ક - બકુલભાઇ પટેલ
                મોબાઈલ નંબર - ૯૮૨૫૩૧૭૨૦૫
                ઈમેઈલ – bakulpatel65@gmail.com

                <b>🍁🌾🌺🌿🌴</b>    
                </pre>
            </div>
        </div>
    </div>
</div>