 <!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>ABOUT US</h2>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                    <li class="breadcrumb-item active">ABOUT US</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="@Url.Content("~/Content/images/about-img.jpg")" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top"><span>Dharti Maa</span></h2>
                <p>
                    આપણને સૌને હૃદયથી અનેરો આનંદ પમાડે તેવી જગ્યાએ કુદરત સિવાય કોઈ નથી. નદી, પર્વતો, જંગલો એ આપણા સૌની આંખો ને ખુશી પમાડે છે.
                    એવી જ રીતે જ્યારે માટી સાથેના સંબંધોમાં જઈએ છીએ ત્યારે પણ આપણા જીવનની જીવંતતા આપણે અનુભવીએ છીએ. શહેરના સતત ધમધમતા
                    જીવનશૈલીથી ક્યારેક પણ ગામડાઓ અને કુદરત વચ્ચે જવાનું થાય ત્યારે આપણું મન પ્રસન્ન થઇ જાય જ છે. અર્થ આનો આટલો જ સાદો છે કે આપણું
                    મન પણ ત્યાં જ શાંતિ પામે છે. પંચમહાભૂત એ આપણું જીવન છે. પાણી, માટી, હવા, અગ્નિ અને આકાશ ને  શુદ્ધ રાખવાએ આપણી જવાબદારી છે.
                    આપણી આવતી પેઢી ને તંદુરસ્ત જીવન તો જ આપી શકીશું જો, આજે આપણે કુદરતને સમજીને બચાવવા લાગી જઈશું.
                    માટીના મકાનો એમાં થતું માટી - ગોબરનું લીંપણ,  છાપરામાં નળિયાં અથવા ઘાસ આપણને ઠંડક આપે જ છે. કેમિકલ એટલે કે ઝેર.
                </p>
                <p>
                    ઝેર વગરના ખાદ્ય પદાર્થો, ઝેર વગરના સૌંદર્ય પ્રસાધનો એ પણ આપણી તંદુરસ્તીને જાળવવા અનોખો ભાગ ભજવે છે.
                    માટે જ આપણી જીવનશૈલીને કુદરત આધારિત બનાવવા આપણે સૌ એ  સતત મથવુ  જ રહ્યું.
                    તો જ આવતા સમયમાં આપણે શુદ્ધ વાતાવરણ આપણી પેઢીને આપતા જઈશું.

                </p>

            </div>
        </div>
        <!--
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Trusted</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Professional</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>We are Expert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
            </div>
        </div>-->
        <div class="row my-4 justify-content-around">
            <div class="col-12">
                <h2 class="noo-sh-title">Meet Our Team</h2>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="@Url.Content("~/Content/images/teams/nirupaben.jpg")" alt="" />
                        <div class="team-content">
                            <h3 class="title">Nirupaben Shah</h3> <span class="post">સ્થાપક</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/anubandh.gujarat" target="_blank" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/anubandhwe" target="_blank" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-linkedin"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description text-justify" style="height:415px">
                        <p>
                            સામાજીક કાર્ય ક્ષેત્રે નિરૂપા નો અનુભવ 15 વર્ષનો રહ્યો છે. ગુજરાતના જુદા જુદા વિસ્તારોમાં બાળ અધિકાર, કુપોષણ અને નૈસર્ગીક ક્ષેત્રે તેમનું મોખરાનું પ્રદાન રહ્યું છે.
                            આજે તેઓએ  અનુબંધ નામની સંસ્થા શરુ કરી છે, અને તેના નેજા હેઠળ તે નૈસર્ગીક ખેતી ઉપરાંત ખેડૂતો, ગ્રામજનો  અને વિશેષ તો મહિલાઓ તથા બાળકો માટે
                            રચનાત્મક કાર્યો કરવાનું શરુ કર્યું છે.
                            નૈસર્ગીક ખેતી અને ગૌશાળાને ટકાઉ બનાવવાના જુદા - જુદા પ્રયોગોમાં સતત પ્રયત્નશીલ છે. સમગ્રતાને અનુબંધિત કરવા સતત મથી રહ્યા છે.
                            તેમના કામની સમયાંતરે નોંધ પણ લેવાતી રહી છે. 'વિચાર ટ્રસ્ટ' દ્વારા અપાતો પ્રતિષ્ઠિત 'ગાંધી મિત્ર એવોર્ડ' તેમને ગુજરાતના તત્કાલીન રાજ્યપાલ મહામહિન ઓ.પી. કોહલીજીના હસ્તે એનાયત કરાયો હતો
                        </p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="@Url.Content("~/Content/images/teams/saroj2.jpg")" alt="" />
                        <div class="team-content">
                            <h3 class="title">Saroj Gediya</h3> <span class="post">સ્થાપક</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="https://www.facebook.com/saroj.gediya" target="_blank" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/Saroj_Gediya" target="_blank" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/sarojgediya/" target="_blank" class="fab fa-linkedin"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description text-justify" style="height:415px">
                        <p>
                            સરોજ એક ઉદ્યોગસાહસિક અને જિંદાદિલ વ્યકતિ છે. તે ૧૭+ વર્ષ નો બહોળો અનુભવ ટેક્નોલોજી માં ધરાવે છે.
                            અમને ૧૦+ વર્ષો સુધી બહુરાષ્ટ્રીય કંપની માં એમનું નેતૃત્વ આપ્યું હતું અને એમના નેતૃત્વ માં એમની ટિમ ધણી સફળતા  હાસિલ કરી હતી.
                            એમને એમની કારકિર્દી દરમ્યાન ધણી સિદ્ધિ હાંસિલ કરી હતી જેમાંની અંતરારરાષ્ટ્રીય સામયિક માં ગ્રાહક સંતુષ્ટિ માં નંબર ૧ તેમની ટીમ ની
                            પ્રોડક્ટ ઓળખાય હતી, એમને ઈમ્પેક્ટ ઓલ સ્ટાર થી પણ ઘણી વખત નવાજવા માં આવ્યા હતા,
                            એ એક નીડર વ્યકતિ તરીકે અમરેલી પોલીસે SP પાસે થી પણ સર્ટિફિકેટ હાસિલ કરેલ છે.
                            માટી સાથે જોડાવા ની એમની અદમ્ય ઈચ્છા એમને ધરતી માં કંપની માટે પ્રેરણા થય છે.
                        </p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="hover-team">
                    <div class="our-team">
                        <img src="@Url.Content("~/Content/images/teams/bakulbhai.jpg")" alt="" />
                        <div class="team-content">
                            <h3 class="title">Bakulbhai Patel</h3> <span class="post">માર્ગદર્શક અને સલાહકાર </span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="#" class="fab fa-facebook"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-twitter"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-linkedin"></a>
                            </li>
                            <li>
                                <a href="#" class="fab fa-youtube"></a>
                            </li>
                        </ul>
                        <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                    </div>
                    <div class="team-description" style="height:415px">
                        <p>
                            બકુલભાઇ એ સિવીલ એન્જીન્યરીંગનો અભ્યાસ કરી  મકાનોનાં પ્લાનિંગ, સ્ટ્રકચરલ, ઈન્ટીર્યર, લેન્ડસ્કેપ ડિઝાઇનીંગનો વ્યવસાય નકશી ડિઝાઇનનાં નામથી છેલ્લા ૩૪ વર્ષોથી કરી રહ્યા છે.
                            તેઓએ એડવાન્સ સ્ટ્રકચરની કોર્સ કમિટીના ચેરમેન તેમજ શાળાનાં સંચાલનની સેવાઓ આપી છે.
                            બકુલભાઇ  પર્યાવરણીય સંતુલન, નૈસર્ગિક જીવનશૈલી, નૈસર્ગિક ખેતી, બાળ ઉછેરના સંદર્ભે માતા - પિતાની ભૂમિકા ( વાલી દર્પણ કાર્યક્રમ ) જેવા વિષયો પ્રત્યે અત્યંત સંવેદનશીલતાથી વર્ષોથી કામ કરી રહ્યા છે.
                            બકુલભાઇ એ earthbag Structure એટલેકે માટીની દીવાલો ઉપર માટીનું લીંપણ કરી લાકડા - વાંસ - ઘાસનું છાપરું જેવા નૈસર્ગિક સંસાધનોનો ઉપયોગ કરીને "પરમ્  સત્વમ્" નું નિર્માણ કર્યું છે.
                        </p>
                    </div>
                    <hr class="my-0">
                </div>
            </div>
            @*<div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team">
                            <img src="@Url.Content("~/Content/images/img-1.jpg")" alt="" />
                            <div class="team-content">
                                <h3 class="title">Williamson</h3> <span class="post">Web Developer</span>
                            </div>
                            <ul class="social">
                                <li>
                                    <a href="#" class="fab fa-facebook"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-twitter"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-google-plus"></a>
                                </li>
                                <li>
                                    <a href="#" class="fab fa-youtube"></a>
                                </li>
                            </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <div class="team-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p>
                        </div>
                        <hr class="my-0">
                    </div>
                </div>*@
        </div>
    </div>
</div>
<!-- End About Page -->
